#navbar {
  border-radius:    8px;
  background-color: #703;
  padding:          4px;
}

.navbar-el {
  border-radius:    8px;
  list-style-type:  none;
  background-color: #502;
  margin:           5px;
  padding:          6px;
  color:            #dcd;
  text-align:       right;
  font-family:      'Helvetica';
  &:hover {
    background-color: #925;
    color:            #fff;
    cursor:           pointer;
  }
}

body {
  font-family:      'Helvetica';
  background-color: #a8a;
  color:            #ede;
}

.friend-button {
  border-radius:    8px;
  background-color: #502;
  list-style-type:  none;
  padding:          8px;
  &:hover {
    background-color: #703;
    cursor:           pointer;
  }
}

.friends-detail-img {
  border-radius: 5px;
}

#friends-detail {
  background-color: #703;
  border-radius: 8px;
  padding: 8px;
}
