* {
	margin: 0px;
	padding: 0px;
}

body {
  font-family:      'Helvetica';
  background-color: #a8a;
  color:            #ede;
}

#navbar {
  height:           40px;
  width:            100%;
  background-color: #703;
  display:          inline-block;
  position:         relative;

  ul#navbar-list {
    position: absolute;
    right:    0px;
    height:   100%;
    width:    75%;
    padding:  4px;

    li.navbar-list-item {
      float:         right;
      padding:       7px;
      margin-left:   4px;
      border-radius: 6px;
      &:hover {
        cursor:           pointer;
        background-color: #925;
        color:            #fff;
      }
    }
  }
}

#main-content {
  $main-content-margin: 1.5%;
  margin-top:   $main-content-margin;
  margin-left:  $main-content-margin;
  margin-right: $main-content-margin;
}

.friend-button {
  border-radius:    8px;
  background-color: #502;
  list-style-type:  none;
  padding:          8px;
  &:hover {
    background-color: #703;
    cursor:           pointer;
  }
}

.friends-detail-img {
  border-radius: 5px;
}

#friends-detail {
  background-color: #703;
  border-radius: 8px;
  padding: 8px;
}
